<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ref share login</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <style>
.google-button{
    background-color:rgb(73, 165, 193);color:white;scale: 1;
}
.google-button:hover {
  scale: 1.2;
}
    </style>
</head>
<body style="background: rgb(116, 104, 237);background: linear-gradient(to bottom, rgb(33, 4, 115) 24%, rgb(119, 181, 248) 77%);height: 100vh;display: flex;
  justify-content: center;align-items: center;">
   <div style="width: 400px;height:400px;background-color:white;position:absolute;margin: 0 auto;border-radius:10%;box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);">
        
        <h1 style="font-size: 66px; ;font-family: 'Lobster', cursive; text-align: center;background: linear-gradient(to right, rgb(27, 4, 120), rgb(93, 180, 241));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;">Ref Share</h1>
  <h4 style="text-align: center">Please!! Sign up to Get Reffered...</h6>
  <div style="display: flex;justify-content: center;align-items: center;width:100%">
    <a href="/auth/google"><button class="google-button" style="border:0px solid black;margin-top:10%;padding:10px;border-radius:15%;box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);">
        Sign in with Google
    </button></a>
    </div>
    </div>

    
</body>
</html>